<div class="uiOnline">
	<div class="heading">
			<div class="heading-text">online players</div>
		</div>
	<div class="bottom">
		<div class="list">
			<div class="heading">
				<div class="col">level</div>
				<div class="col">name</div>
				<div class="col">class</div>
			</div>
		</div>
	</div>
</div>
