<div class="uiInventory">
	<div class="heading">
		<div class="heading-text">inventory</div>
	</div>
	<div class="stats">
		<div class="list"></div>
	</div>
	<div class="grid"></div>
	<div class="tooltip"></div>
	<div class="split-box">
		<div class="inner">
			<div class="heading">
			    <div class="heading-text">stack size</div>
			</div>
			<div class="bottom">
				<div class="amount"></div>
				<div class="button">split</div>
			</div>
		</div>
	</div>
</div>
